body{
    background-color: black;
}
.sponsors-logos{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.sponsors-title{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}